<h2>Buscar por: </h2>
<ul class="list-group">
    <!-- <li
        routerLink="" 
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="list-group-item">Home
    </li>
    <li 
        routerLink="about"
        routerLinkActive="active"
        class="list-group-item">About
    </li>
    <li 
        routerLink="services"
        routerLinkActive="active"
        class="list-group-item">Services
    </li>
    <li 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="portfolio">Portfolio</li>
    <li 
        routerLink="contact"
        routerLinkActive="active"
        class="list-group-item">Contact
    </li>
    <li class="list-group-item">Blog</li> -->
    <li 
        routerLink="countries/by-capital"
        routerLinkActive="active"
        class="list-group-item">Capital
    </li>
    <li 
        routerLink="countries/by-country"
        routerLinkActive="active"
        class="list-group-item">País
    </li>
    <li 
        routerLink="countries/by-region"
        routerLinkActive="active"
        class="list-group-item">Región
    </li>
</ul>
