<!-- Tip: <input [value]="initialValue"> -->

<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <!-- (onValue)="searchByCapital($event)" -->
        <shared-search-box 
            (onDebounce)="searchByCapital($event)"
            [initialValue]="initialValue"
            placeholder="Buscar por capital">
        </shared-search-box>
    </div>
</div>
<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<div class="row">
    <div class="col">
        <capital-table [countries]="countries"></capital-table>
    </div>
</div>